.coloredBoxContainer{
    margin: 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
    align-content:center; 
}

.coloredBoxContainer *{
    margin: 2px;
}
