form{
  display: flex;
  justify-content: center;
  padding: 20px;
  color: #545454;
  align-items: center;
  font-size: 1.2rem;
}

.input{
  margin: 15px;
}

input{
  margin: 3px;
}
input:hover{
  cursor: pointer;
}

label:hover{
  cursor: pointer;
}

button{
  background-color: #B084CC;
  border: none;
  border-radius: 6px;
  padding: .5rem 1.5em;
  align-self: center;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 5px;
}

button:hover{
  cursor: pointer;
  background-color: #BE9AD5;
}
